requests
jinja2
# mwparserfromhell
git+https://github.com/earwig/mwparserfromhell.git
git+https://github.com/kynikos/lib.py.configfile.git

# database
sqlalchemy
alembic
# TODO: optional deps?
psycopg2

# optional deps
git+https://github.com/lahwaacz/python-wikeddiff.git
