requests
jinja2
mwparserfromhell

# database
sqlalchemy[asyncio] >= 2.0
alembic
psycopg2
asyncpg

# script-specific dependencies
hstspreload

# optional dependencies
git+https://github.com/lahwaacz/python-wikeddiff.git
